:root{
    --background: #000;
    --text-primary: #fff;
    --button-bg: #fff;
    --button-text: #000;
}


[data-theme= 'light']{
    --background: #fff;
    --text-primary: #000;
    --button-bg: #000;
    --button-text: #fff ;
}

.dark-light-mode{
    background:var(--background);
    color: var(--text-primary);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    
    flex-direction: column;
}


.dark-light-mode button{
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 13px 30px;
    height: 50px;
    width: 180px;
}